[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==6.0.1"
beautifulsoup4 = "==4.13.5"
Pillow = "==11.3.0"

[dev-packages]
pytest = "==8.4.1"
ruff = "==0.12.10"

[requires]
python_version = "3.14"
